<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<meta name="apple-touch-fullscreen" content="yes">
<meta charset="UTF-8">
<title>2016{{ user_name }}已牵手{{ name }}去旅行，来测一测你的明星旅伴吧！</title>
<link rel="Shortcut Icon" href="/static/images/favorite.ico" type="image/x-icon" />
<link rel="Bookmark" href="/static/images/favorite.ico" type="image/x-icon" />
<link rel="icon" href="/static/images/favorite.ico" type="image/x-icon" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/default.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f9debc30757e00185d9d69b7d353db60";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
	<img src="/static/images/weixinLogo.jpg" id="weixinLogo"/>
	<div class="container pageQr">
		<img src="/static/images/topBg.jpg" class="topBg"/>
		<h1>哼！</h1>
		<h2>给你个机会，让你爱上我！</h2>
      <div class="qrContainer">
        <div class="qrInner">
          <img src="/media/{{ qr }}" />
        </div>
      </div>
		<h3>小样儿！看你测到谁！</h3>
		<div class="btnWrap">
				<span class="btnCircle btnShare"><img src="/static/images/btnShare.jpg" width="135"/></span>
				<a href="/" class="btnCircle"><img src="/static/images/btnReTestShort.jpg" width="135"/></a>
		</div>

		<div class="footer">
			<a class="lushuLink" href="http://www.lushu.com" target="_blank">lushu.com</a>
			<img src="/static/images/footer.jpg"/>
		</div>
	</div>
	
	<div class="shareMask"><img src="/static/images/shareMask.png"/></div>
</body>
</html>
