<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<meta name="apple-touch-fullscreen" content="yes">
<meta charset="UTF-8">
<title>2016{{ user_name }}已牵手{{ name }}去旅行，来测一测你的明星旅伴吧！</title>
<link rel="Shortcut Icon" href="/static/images/favorite.ico" type="image/x-icon" />
<link rel="Bookmark" href="/static/images/favorite.ico" type="image/x-icon" />
<link rel="icon" href="/static/images/favorite.ico" type="image/x-icon" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/default.js"></script>
</head>

<body>
	<img src="/static/images/weixinLogo.jpg" id="weixinLogo"/>
	<div class="container pageQr">
		<img src="/static/images/topBg.jpg" class="topBg"/>

    	<h1>扫我扫我！</h1>
		<h2>有你真好，让我们一起去旅行吧！</h2>
      <div class="qrContainer">
        <div class="qrInner">
          <img src="/media/{{ qr }}" />
        </div>
      </div>
		<h3>快去朋友圈晒幸福吧！</h3>

		<span class="btnShare"><img src="/static/images/btnShareTest.jpg" width="245"/></span>

		<div class="footer">
				<a class="lushuLink" href="http://www.lushu.com" target="_blank">lushu.com</a>
				<img src="/static/images/footer.jpg"/>
		</div>
	</div>
	<div class="shareMask"><img src="/static/images/shareMask.png"/></div>
</body>
</html>
